<section class="pageContainer">
  <div class="container p-0">
    <div class="row mx-0 mt-5 mb-0">
      <hr class="pageContainer_borderLine m-0 p-0 w-100">
      <h1 class="text-center pageContainer_title d-table py-2 px-3 mb-5">{{headTitle}}</h1>
    </div>
    <div class="searchResult_results row mx-0 mb-3">
      <div class="pageContainer_coDetails_info media text-right searchResult_results_media w-100">
        <div class=" row m-0 py-3 w-100">
          <div class="searchResult_results_media_body w-100">
            <div class="row m-0 searchResult_results_media_body_stRow">
              <div class="col-3 p-0 text-left">
                <img class="rounded searchResult_results_media_body_logo"
                     src="{{coDetails.meta_data.logo}}" alt="">
              </div>
              <div class="col-9 searchResult_results_media_body_details">
                <h5 class="mt-0 font-weight-bold searchResult_results_media_body_coName">{{coName}}<span>: {{coDetails.name}}</span>
                </h5>
                <div class="clearfix"></div>
                <div class="d-md-flex d-block w-100 navbar p-0 text-right">
                  <div class="py-2"><strong
                    class="searchResult_results_media_body_option">{{coCity}}:</strong><span> {{coDetails.city.name}}</span>
                  </div>
                  <div class="py-2"><strong
                    class="searchResult_results_media_body_option">{{coCategory}}:</strong><span> {{coDetails.category.name}}</span>
                  </div>
                  <div class="py-2"><strong
                    class="searchResult_results_media_body_option">{{coSpecialization}}:</strong><span> {{coDetails.specialization.name}}</span>
                  </div>
                </div>
                <div class="d-md-flex d-block w-100 navbar p-0 text-right">
                  <div class="py-2"><strong
                    class="searchResult_results_media_body_option">{{coAddress}}:</strong></div>
                  <div class="py-2"><strong
                    class="searchResult_results_media_body_option">{{coPhone}}:</strong><span> {{coDetails.phone}}</span>
                  </div>
                  <div class="py-2"><strong
                    class="searchResult_results_media_body_option">{{coEmail}}:</strong><span> {{coDetails.email}}</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-md-flex d-block w-100 navbar p-0 text-right">
              <div class="py-2">
                <strong class="searchResult_results_media_body_option">{{coPrief}}:</strong></div>
            </div>
            <p>{{coDetails.description}}</p>
            <div class="py-2"><strong
              class="searchResult_results_media_body_option">{{coImage}}
            </strong></div>
            <div class="row text-center pageContainer_coDetails_images">
              <div class="col-3" *ngFor="let img of coimages">
                <div class="pageContainer_coDetails_images_block p-2">
                  <img class="img-fluid" src="{{img}}"/>
                </div>
              </div>

            </div>
            <div class="d-md-flex d-block w-100 navbar px-0 py-3 text-right">
              <div class="py-2">
                <strong class="searchResult_results_media_body_option">{{coLinks}}</strong>
                <div class="row m-0">
                  <div class="float-left pr-1 mb-1"><a href="{{coDetails.meta_data.social_networks.facebook}}"><img
                    src="../../../../assets/images/face.png"></a></div>
                  <div class="float-left pr-1 mb-1"><a
                    href="{{coDetails.meta_data.social_networks.twitter}}"><img
                    src="../../../../assets/images/twt.png"></a></div>
                </div>
              </div>
              <div class="py-2">
                <strong class="searchResult_results_media_body_option">{{CoRate}}</strong></div>
            </div>

          </div>

        </div>

      </div>

    </div>

  </div>
  <div class="container p-0">
    <div class="row mx-0 mt-2 mb-0">
      <hr class="pageContainer_borderLine m-0 p-0 w-100">
      <h1 class="text-center pageContainer_title d-table py-2 px-3 mb-4">{{headTitle}}</h1>
    </div>
    <div class="pb-2 pt-0 px-0 m-0 text-justify pageContainer_prag d-block w-100">
      <div class="row pageContainer_registerSteps">

        <div class="d-block col-12 m-auto pt-1">
          <div class="form-group pageContainer_registerSteps_time py-2 m-0">

            <div class="row mb-2">
              <div class="col-2">
                <h5 class="col-12 p-0 text-center pt-0 m-0 font-weight-normal timeDurationTitle">الايام
                </h5>
              </div>
              <div class="col-5">
                <h5 class="col-12 p-0 text-center pt-0 m-0 font-weight-normal timeDurationTitle">الفترة
                  الصباحية</h5>
              </div>
              <div class="col-5">
                <h5 class="col-12 p-0 text-center pt-0 m-0 font-weight-normal timeDurationTitle">الفترة
                  المسائية</h5>
              </div>

            </div>
            <div class="row">

              <div class="col-2">

              </div>
              <div class="col-5">
                <div class="row m-0">
                  <h6 class="col-6 p-0 text-center pt-0 font-weight-normal timeDuration"><span>من</span>
                  </h6>
                  <h6 class="col-6 p-0 text-center pt-0 font-weight-normal timeDuration">
                    <span>الي</span></h6>
                </div>
              </div>
              <div class="col-5">
                <div class="row m-0">
                  <h6 class="col-6 p-0 text-center pt-0 font-weight-normal timeDuration"><span>من</span>
                  </h6>
                  <h6 class="col-6 p-0 text-center pt-0 font-weight-normal timeDuration">
                    <span>الي</span></h6>
                </div>
              </div>

            </div>
            <div class="row">

              <div class="col-2">
                <h5 class="col-12 p-0 text-center pt-0 m-0 font-weight-normal timeDurationTitle">
                  {{saturday}}
                </h5>
              </div>
              <div class="col-5">
                <div class="row">
                  <div class="col-6">
                    <h6 class="p-0 text-center pt-0 font-weight-normal timeDurationTitle durColor">
                      {{saturdayMorning.from}}</h6>
                  </div>
                  <div class="col-6">
                    <h6 class="p-0 text-center pt-0 font-weight-normal timeDurationTitle durColor">
                      {{saturdayMorning.to}}</h6>
                  </div>
                </div>
              </div>
              <div class="col-5">
                <div class="row">
                  <div class="col-6">
                    <h6 class="p-0 text-center pt-0 font-weight-normal timeDurationTitle durColor">
                      {{saturdayNight.from}}</h6>
                  </div>
                  <div class="col-6">
                    <h6 class="p-0 text-center pt-0 font-weight-normal timeDurationTitle durColor">\
                      {{saturdayNight.to}}</h6>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">

              <div class="col-2">
                <h5 class="col-12 p-0 text-center pt-0 m-0 font-weight-normal timeDurationTitle">
                  {{sunday}}
                </h5>
              </div>
              <div class="col-5">
                <div class="row">
                  <div class="col-6">
                    <h6 class="p-0 text-center pt-0 font-weight-normal timeDurationTitle durColor">
                      {{sundayMorning.from}}</h6></div>
                  <div class="col-6">
                    <h6 class="p-0 text-center pt-0 font-weight-normal timeDurationTitle durColor">

                      {{sundayMorning.to}}</h6>
                  </div>
                </div>
              </div>
              <div class="col-5">
                <div class="row">
                  <div class="col-6">
                    <h6 class="p-0 text-center pt-0 font-weight-normal timeDurationTitle durColor">
                      {{sundayNight.from}}</h6>
                  </div>
                  <div class="col-6">
                    <h6 class="p-0 text-center pt-0 font-weight-normal timeDurationTitle durColor">
                      {{sundayNight.to}}</h6>
                  </div>
                </div>
              </div>

            </div>
            <div class="row">

              <div class="col-2">
                <h5 class="col-12 p-0 text-center pt-0 m-0 font-weight-normal timeDurationTitle">
                  {{monday}}
                </h5>
              </div>
              <div class="col-5">
                <div class="row">
                  <div class="col-6">
                    <h6 class="p-0 text-center pt-0 font-weight-normal timeDurationTitle durColor">
                      {{mondayMorning.from}}</h6>
                  </div>
                  <div class="col-6">
                    <h6 class="p-0 text-center pt-0 font-weight-normal timeDurationTitle durColor">
                      {{mondayMorning.to}}</h6>
                  </div>
                </div>
              </div>
              <div class="col-5">
                <div class="row">
                  <div class="col-6">
                    <h6 class=" p-0 text-center pt-0 font-weight-normal timeDurationTitle durColor">
                      {{mondayNight.from}}</h6>
                  </div>
                  <div class="col-6">
                    <h6 class="p-0 text-center pt-0 font-weight-normal timeDurationTitle durColor">
                      {{mondayNight.to}}</h6>
                  </div>
                </div>
              </div>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
  <div class="pageContainer_coDetails_projects">
    <div class="container mx-auto mt-5 mb-0 p-0">
      <hr class="pageContainer_borderLine m-0 p-0 w-100">
      <h1 class="text-center pageContainer_title d-table py-2 px-3 mb-5">{{projectHeadTitle}}</h1>
    </div>
    <div class="searchResult_results container mx-auto p-0 mb-3 pb-5">
      <div class="media text-right searchResult_results_media pageContainer_coDetails_projects_portfolio col-lg-12">
        <div class="pageContainer_coDetails row m-0 py-3">
          <div class="searchResult_results_media_body">
            <div class="row m-0 searchResult_results_media_body_stRow">
              <div class="col-12 searchResult_results_media_body_details">
                <h5 class="mt-0 font-weight-bold searchResult_results_media_body_coName">{{projectName}}</h5>
              </div>
            </div>
            <div class="d-md-flex d-block w-100 navbar p-0 text-right">
              <div class="py-2">
                <strong class="searchResult_results_media_body_option">{{projectDesc}}</strong>
              </div>
            </div>
            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
              sollicitudin.
              Cras
              purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi
              vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
            <div class="py-2"><strong
              class="searchResult_results_media_body_option">{{projectImgs}}
            </strong></div>
            <div class="row text-center pageContainer_coDetails_images">
              <div class="col-3">
                <div class="pageContainer_coDetails_images_block p-2">
                  <img class="img-fluid" src="images/logo.png"/>
                </div>
              </div>
              <div class="col-3">
                <div class="pageContainer_coDetails_images_block p-2">
                  <img class="img-fluid" src="images/logo.png"/>
                </div>
              </div>
              <div class="col-3">
                <div class="pageContainer_coDetails_images_block p-2">
                  <img class="img-fluid" src="images/logo.png"/>
                </div>
              </div>
              <div class="col-3">
                <div class="pageContainer_coDetails_images_block p-2">
                  <img class="img-fluid" src="images/logo.png"/>
                </div>
              </div>
            </div>
            <div class="py-4"><strong
              class="searchResult_results_media_body_option">{{projectNaturalImgs}}
            </strong></div>
            <div class="row text-center pageContainer_coDetails_images">
              <div class="col-3">
                <div class="pageContainer_coDetails_images_block p-2">
                  <img class="img-fluid" src="images/logo.png"/>
                </div>
              </div>
              <div class="col-3">
                <div class="pageContainer_coDetails_images_block p-2">
                  <img class="img-fluid" src="images/logo.png"/>
                </div>
              </div>
              <div class="col-3">
                <div class="pageContainer_coDetails_images_block p-2">
                  <img class="img-fluid" src="images/logo.png"/>
                </div>
              </div>
              <div class="col-3">
                <div class="pageContainer_coDetails_images_block p-2">
                  <img class="img-fluid" src="images/logo.png"/>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev pageContainer_coDetails_images_arrowSlider" href="#" role="button"
           data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next pageContainer_coDetails_images_arrowSlider" href="#" role="button"
           data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
        <ol class="carousel-indicators pageContainer_coDetails_images_indicator p-0">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
      </div>
    </div>
  </div>
  <div class="container p-0">
    <div class="row mx-0 mt-5 pt-3 mb-0">
      <hr class="pageContainer_borderLine m-0 p-0 w-100">
      <h1 class="text-center pageContainer_title d-table py-2 px-3 mb-5">{{commentHeadTitle}}</h1>
    </div>
    <div class="searchResult_results pageContainer_coDetails_comments row mx-0 mb-3">
      <form class="w-75 m-auto pb-5">
        <div class="form-group w-100">
          <input type="text" class="form-control py-3 w-100"
                 placeholder="{{commentName}}">
        </div>
        <div class="form-group">
                                    <textarea class="form-control py-3" rows="5"
                                              placeholder="{{commentDes}}"></textarea>
        </div>
        <div class="col-12 text-center p-0 mt-4">
          <button class="btn">{{postBtn}}</button>
        </div>
      </form>
      <div class="col-md-12">
        <h5 class="mt-0 py-2 font-weight-bold searchResult_results_media_body_coName text-right">{{latestCommentTitle}}
        </h5>
      </div>

      <div class="media text-right searchResult_results_media col-lg-12">
        <div class="pageContainer_coDetails row m-0 py-3">
          <div class="searchResult_results_media_body">
            <div class="d-md-flex d-block w-100 navbar p-0 text-right">
              <div class="py-2">
                <strong class="searchResult_results_media_body_option">{{commentName}}: </strong> name
              </div>
            </div>

            <div class="py-2"><strong
              class="searchResult_results_media_body_option">{{commentDes}}:
            </strong>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
              sollicitudin.
              Cras
              purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi
              vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>

        </div>
      </div>
      <div class="media text-right searchResult_results_media col-lg-12">
        <div class="pageContainer_coDetails row m-0 py-3">
          <div class="searchResult_results_media_body">
            <div class="d-md-flex d-block w-100 navbar p-0 text-right">
              <div class="py-2">
                <strong class="searchResult_results_media_body_option">{{commentName}}: </strong> name
              </div>
            </div>

            <div class="py-2"><strong
              class="searchResult_results_media_body_option">{{commentDes}}:
            </strong>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
              sollicitudin.
              Cras
              purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi
              vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>

        </div>
      </div>
      <div class="media text-right searchResult_results_media col-lg-12">
        <div class="pageContainer_coDetails row m-0 py-3">
          <div class="searchResult_results_media_body">
            <div class="d-md-flex d-block w-100 navbar p-0 text-right">
              <div class="py-2">
                <strong class="searchResult_results_media_body_option">{{commentName}}: </strong> name
              </div>
            </div>

            <div class="py-2"><strong
              class="searchResult_results_media_body_option">{{commentDes}}:
            </strong>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante
              sollicitudin.
              Cras
              purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac
              nisi
              vulputate fringilla. Donec lacinia congue felis in faucibus.
            </div>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>
<app-copyright></app-copyright>
