<div class="collapse navbar-collapse text-center justify-content-end align-items-center align-self-center">
  <ul class="navbar-nav align-items-center align-self-center header_navBar">
    <li class="nav-item align-self-center align-items-center header_navBar_list">
      <b class="text-center align-self-center header_navBar_list_word">تابعنا علي:</b>
    </li>
    <li class="nav-item header_navBar_list">
      <a class="nav-link header_navBar_list_link" href="#">
        <img src="../../../assets/images/facebook.png"> </a>
    </li>
    <li class="nav-item header_navBar_list">
      <a class="nav-link header_navBar_list_link" href="#">
        <img src="../../../assets/images/twitter.png"> </a>
    </li>
    <li class="nav-item header_navBar_list">
      <a class="nav-link header_navBar_list_link" href="#">
        <img src="../../../assets/images/youtube.png"> </a>
    </li>
  </ul>
</div>
