<section class="partners">
  <div class="container">
    <hr class="partners_borderLine m-0 p-0">
    <h1 class="text-center partners_title d-table py-1 px-3">{{partnersTitle}}</h1>
    <figure class="row text-center mt-5">
      <figcaption class="col">
        <div class="partners_block p-2">
          <img src="images/logo.png">
          <h3 class="partners_block_name font-weight-bold">Partner Name</h3>
        </div>
      </figcaption>
      <figcaption class="col">
        <div class="partners_block p-2">
          <img src="images/logo.png">
          <h3 class="partners_block_name font-weight-bold">Partner Name</h3>
        </div>
      </figcaption>
      <figcaption class="col">
        <div class="partners_block p-2">
          <img src="images/logo.png">
          <h3 class="partners_block_name font-weight-bold">Partner Name</h3>
        </div>
      </figcaption>
      <figcaption class="col">
        <div class="partners_block p-2">
          <img src="images/logo.png">
          <h3 class="partners_block_name font-weight-bold">Partner Name</h3>
        </div>
      </figcaption>
    </figure>
  </div>
</section>
