<div class="container p-5 search_container">
  <div class="row m-0">
    <div class="col-md-12 p-0">
      <div class="clearfix p-0 m-0">
        <h2 class="font-weight-bold text-center mb-4">اختر نوع الحساب</h2>
      </div>
      <br>
      <div class="row m-0 text-center">
        <div class="w-50 mx-auto">
          <button class="btn search_btn font-weight-bold w-100" routerLink="/signUp-user">تسجيل كمستخدم</button>
          <div class="clearfix"><br></div>
          <button class="btn search_btn font-weight-bold w-100" routerLink="/signUp-company">تسجيل كشركة</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container px-4">
  <hr class="search_lineShadow position-relative">
</div>
<app-copyright></app-copyright>
