<main class="page">
  <section class="pageContainer d-flex">
    <div class="container">
      <div class="row mx-0 mt-5 mb-0">
        <hr class="pageContainer_borderLine m-0 p-0 w-100">
        <h1 class="text-center pageContainer_title d-table py-2 px-3 mb-5">أتصل بنا</h1>
        <div class="clearfix m-0"><img class="img-fluid" src="../../../assets/images/contact.jpg"/></div>
        <div class="pb-2 pt-0 px-0 m-0 text-justify pageContainer_prag d-block w-100">
          <h4 class="h4 py-4 m-0 font-weight-bold">
            معلومات الأتصال :
          </h4>
          <p>
            <img class="pageContainer_prag_icon" src="../../../assets/images/location.svg"/> <strong
            class="font-weight-bold">المقر الرئيسـى</strong> We
            would love to hear from you</p>
          <p>
          <p>
            <img class="pageContainer_prag_icon" src="../../../assets/images/phone.svg"/> <strong
            class="font-weight-bold">المقر
            الرئيسـى</strong> We would love to hear from you</p>
          <p>
          <p>
            <img class="pageContainer_prag_icon" src="../../../assets/images/email.svg"/> <strong
            class="font-weight-bold">المقر
            الرئيسـى</strong> We would love to hear from you</p>
          <p>

        </div>
        <div class="row mx-0 mb-0 mt-2 w-100">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d55199.02284714953!2d31.5667292611328!3d30.153162032014134!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x14581d6e1c044e63%3A0xb0db457cb4e24735!2sEl+Shorouk+City%2C+Cairo+Governorate!3m2!1d30.151320799999997!2d31.611774299999997!5e0!3m2!1sen!2seg!4v1529929561598"
            width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </section>
</main>
<app-main-footer></app-main-footer>

