<main class="page">
  <section class="pageContainer d-flex">
    <div class="container">
      <div class="row mx-0 mt-5 mb-0">
        <hr class="pageContainer_borderLine m-0 p-0 w-100">
        <h1 class="text-center pageContainer_title d-table py-2 px-3 mb-5">شركائنا</h1>
        <div class="pb-2 pt-0 px-0 m-0 text-justify pageContainer_prag d-block w-100">
          <div class="row">
            <div class="col-lg-3 col-sm-6 text-center mb-4">
              <div class="shadow p-3 mb-1"><img class="pageContainer_partnersImg" src="images/logo.png"/>
                <h4 class="m-0 font-weight-bold">Title</h4>
                <p class="m-0">
                  <small>الشركة الرائدة في تطوير وتنفيذ ودعم الحلول والأنظمة القائمة على تقنيات
                  </small>
                </p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center mb-4">
              <div class="shadow p-3 mb-1"><img class="pageContainer_partnersImg" src="images/logo.png"/>
                <h4 class="m-0 font-weight-bold">Title</h4>
                <p class="m-0">
                  <small>الشركة الرائدة في تطوير وتنفيذ ودعم الحلول والأنظمة القائمة على تقنيات
                  </small>
                </p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center mb-4">
              <div class="shadow p-3 mb-1"><img class="pageContainer_partnersImg" src="images/logo.png"/>
                <h4 class="m-0 font-weight-bold">Title</h4>
                <p class="m-0">
                  <small>الشركة الرائدة في تطوير وتنفيذ ودعم الحلول والأنظمة القائمة على تقنيات
                  </small>
                </p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center mb-4">
              <div class="shadow p-3 mb-1"><img class="pageContainer_partnersImg" src="images/logo.png"/>
                <h4 class="m-0 font-weight-bold">Title</h4>
                <p class="m-0">
                  <small>الشركة الرائدة في تطوير وتنفيذ ودعم الحلول والأنظمة القائمة على تقنيات
                  </small>
                </p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center mb-4">
              <div class="shadow p-3 mb-1"><img class="pageContainer_partnersImg" src="images/logo.png"/>
                <h4 class="m-0 font-weight-bold">Title</h4>
                <p class="m-0">
                  <small>الشركة الرائدة في تطوير وتنفيذ ودعم الحلول والأنظمة القائمة على تقنيات
                  </small>
                </p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center mb-4">
              <div class="shadow p-3 mb-1"><img class="pageContainer_partnersImg" src="images/logo.png"/>
                <h4 class="m-0 font-weight-bold">Title</h4>
                <p class="m-0">
                  <small>الشركة الرائدة في تطوير وتنفيذ ودعم الحلول والأنظمة القائمة على تقنيات
                  </small>
                </p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center mb-4">
              <div class="shadow p-3 mb-1"><img class="pageContainer_partnersImg" src="images/logo.png"/>
                <h4 class="m-0 font-weight-bold">Title</h4>
                <p class="m-0">
                  <small>الشركة الرائدة في تطوير وتنفيذ ودعم الحلول والأنظمة القائمة على تقنيات
                  </small>
                </p>
              </div>
            </div>
            <div class="col-lg-3 col-sm-6 text-center mb-4">
              <div class="shadow p-3 mb-1"><img class="pageContainer_partnersImg" src="images/logo.png"/>
                <h4 class="m-0 font-weight-bold">Title</h4>
                <p class="m-0">
                  <small>الشركة الرائدة في تطوير وتنفيذ ودعم الحلول والأنظمة القائمة على تقنيات
                  </small>
                </p>
              </div>
            </div>

          </div>


        </div>
      </div>
    </div>
  </section>
</main>
<app-copyright></app-copyright>
