<div class="navResponsive d-flex d-md-none">
  <img src="../../../assets/images/nav.svg"/>
  <ul class="nav flex-column w-100 position-absolute text-center p-0 mb-2">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</div>
