<footer class="footer mt-5 py-4">
  <div class="py-2 footer_lineColor w-100 position-absolute"></div>
  <div class="container p-0 text-right">
    <div class="row m-0">
      <div class="col-md-6">
        <app-contact-form></app-contact-form>
      </div>
      <div class="col-md-6">
        <app-contact-information></app-contact-information>
      </div>
    </div>
  </div>
</footer>
<div class="row m-0 py-3 text-center">
  <strong class="text-center w-100">جميع الحقوق محفوظة © 2018</strong>
</div>
