<h1 class="py-2 footer_title">{{blockTitle}}</h1>
<div class="py-4">
  <p>
    <strong class="font-weight-bold">{{addressLabelName}}</strong> We would love to hear from you</p>
  <p>
    <strong class="font-weight-bold">{{phoneLabelName}}</strong> We would love to hear from you</p>
  <p>
    <strong class="font-weight-bold">{{emailLabelName}}</strong> We would love to hear from you</p>
</div>
<ul class="nav p-0">
  <a class="nav-link" href="{{facebookUrl}}"><img src="../../../assets/images/facebook-foo.png"/> </a>
  <a class="nav-link" href="{{twitterUrl}}"><img src="../../../assets/images/twitter-foo.png"/></a>
  <a class="nav-link" href="{{googleUrl}}"><img src="../../../assets/images/google-foo.png"/></a>
  <a class="nav-link" href="{{youtubeUrl}}"><img src="../../../assets/images/youtube-foo.png"/></a>
</ul>
