<section class="pageContainer d-flex">
  <div class="container">
    <div class="row mx-0 mt-0 mb-0">
      <div class="pb-2 pt-0 px-0 m-0 text-justify pageContainer_prag d-block w-100">
        <div class="row pageContainer_editSetting">
          <h2 class="col-12 text-center pt-5 m-0 font-weight-bold pageContainer_editSetting_title">{{headTitle}}</h2>
          <div class="d-block col-12 col-sm-12 col-md-10 col-lg-8 m-auto pt-2">
            <div class="clearfix mb-2">
              <a href="" class="btn pageContainer_editSetting_btn" routerLink="../Add-ad"><img
                src="../../../../../assets/images/pluse.svg"/>
                {{addAdBtn}}</a>
            </div>
            <div class="row">
              <div class="col-sm-6 mt-2 mb-2" *ngFor="let ad of getAds">
                <div class="card pageContainer_editSetting_card">
                  <img class="card-img-top" src="{{ad.image}}"
                       alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title pageContainer_editSetting_card_title font-weight-bold">
                      {{ad.title}}</h5>
                    <a
                      class="card-link btn btn-sm pageContainer_editSetting_btn ml-1">{{editBtn}}</a>
                    <a class="card-link  btn btn-outline-danger btn-sm" (click)="delete()" id="{{ad.id}}">{{deleteBtn}}</a>
                  </div>
                  <div class="card-footer">
                    <small class="text-muted">{{ad.accepted}}</small>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<li *ngFor="let ad of getAds">
  {{ad.content}}
  {{ad.status}}
  {{ad.accepted}}
</li>



