<nav class="navbar px-0 nav-pills nav-justified header_ndRow_navBar h-100 d-none d-md-flex">
  <a class="nav-item nav-link header_ndRow_navBar_link" routerLinkActive="active_link current"
     routerLink="" [routerLinkActiveOptions]="{ exact: true }">الرئيسيه</a>
  <a class="nav-item nav-link header_ndRow_navBar_link" routerLinkActive="active_link" routerLink='about'>عن عمار</a>
  <a class="nav-item nav-link header_ndRow_navBar_link" routerLinkActive="active_link"
     routerLink="/partners">شركائنا</a>
  <a class="nav-item nav-link header_ndRow_navBar_link" routerLinkActive="active_link"
     routerLink="/packages">الأشتركات</a>
  <a class="nav-item nav-link header_ndRow_navBar_link" routerLinkActive="active_link" routerLink="/privacy-policy">سياسة
    الخصوصية</a>
  <a class="nav-item nav-link header_ndRow_navBar_link" routerLinkActive="active_link" routerLink="/contact">اتصل
    بنا</a>
</nav>
