<main class="page">
  <section class="pageContainer d-flex">
    <div class="container">
      <div class="row mx-0 mt-0 mb-0">
        <div class="pb-2 pt-0 px-0 m-0 text-justify pageContainer_prag d-block w-100">
          <div class="row pageContainer_editSetting">
            <h2 class="col-12 text-center pt-5 m-0 font-weight-bold pageContainer_editSetting_title">
              الاشتراك</h2>
            <div class="d-block col-12 col-sm-12 col-md-10 col-lg-8 m-auto pt-5">
              <div class="card text-center">
                <div class="card-header">
                  Package Name
                </div>
                <div class="card-body">
                  <h5 class="card-title">Special title treatment</h5>
                  <p class="card-text">With supporting text below as a natural lead-in to additional
                    content.</p>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                  </ul>
                  <br>
                  <a href="#" class="btn pageContainer_editSetting_btn">Go Upgrade</a>
                </div>
                <div class="card-footer text-muted">
                  2 days ago
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-copyright></app-copyright>
